{{navbar-admin}}
<div class="row">
  <div class="col-md-12">
    <div class="card padded">
      <div class="content" style="margin-top: 0px;">
        <form class="admin-restaurant-form">
              <h3>Category Name</h3>
              {{input type="text" value=nameValue placeholder="Enter category name here" }}
        </form>
      </div>
    </div>
  </div>
</div>
<br>
<button class="btn btn-primary" style="float: right;" {{ action "addCategory" }}>Add category</button><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br>
