<h2>Application Route</h2>
{{#if session.isAuthenticated}}
  <a href="#" {{action 'logout'}}>Logout</a>
{{else}}
  {{#link-to 'login'}}Login{{/link-to}}
<!-- it always goes here! -->
{{/if}}
{{outlet}}
